<div class="container mx-auto">
  <h1 class="text-3xl font-bold text-center p-4 mt-12">TODO LIST</h1>
  <div class="flex flex-col flex-wrap gap-4 mt-12">
    <app-add-form></app-add-form>
    <div class="form-control mt-6">
      <app-tabs (activeTabChange)="setActiveTab($event)"></app-tabs>
      <div class="flex flex-col gap-2 shadow-sm">
        <ng-container *ngIf="todoList && todoList.length > 0">
          <app-todo
            *ngFor="let todo of todoList"
            [id]="todo.id"
            [title]="todo.title"
            [checked]="todo.checked"
          ></app-todo>
        </ng-container>
      </div>
    </div>
  </div>
</div>
